5.2 Documents and information to provide

5.2.1 General requirements and principles
The ownership control assessment is in principle based on documents submitted by
the participant as scanned versions via the Participant Register. Originals should be
kept on file for checks, reviews, audits or investigations (which can be required by the
EU services at any time).
As a general rule, ownership control documents must be provided in their original
language. For documents in EU languages, participants may be requested to submit
an English free (unofficial) translation to facilitate the assessment. For documents in
non-EU languages, a free translation in English is mandatory and must be provided
together with the original documents. In case of doubt, a certified/legal translation in
English may be requested. If the participants have original documents in an EU
language which is not the official language of their country, they can nevertheless
submit them (no need for a translation into the official language of the country).
The participant assumes full responsibility for the content of the documents and the
accuracy of the translations, as well as the information provided by other means (e.g.
by Participant Register message, etc).
In case of false declarations (or intentional manipulation of a translation), the EU
services may:
− withdraw and correct the assessment
− terminate on-going grants and procurements (and recover any undue
amounts)
− impose financial penalties or administrative sanctions, including exclusion from
future EU funding (grants, procurements, prizes, contribution agreements, etc;
EU Funding & Tenders: Rules for LEV, LEAR Appointment and FCA: V5.0 – 01.02.2024
BG CS DA DE EL EN ES ET FI FR GA HR HU IT LT LV MT NL PL PT RO SK SL SV
see Articles 135 to 145 of the Financial Regulation)
− inform the European Anti-Fraud Office (OLAF).